
<!doctype html>
<html lang="en">
<div th:replace="head"></div>
<body>
<div class="container">

    <div class="text-center sm-4">
        <img class="sm-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 sm-3 font-weight-normal">Short URL</h1>
        <p>Build form controls with floating labels via the pseudo-element.
    </div>

    <div class="form-label-group">
        <label for="inputURL">URL original</label>
        <input type="url" id="inputURL" class="form-control" placeholder="URL Original" required autofocus>
    </div>

    <button id="btnEncurtarURL" class="btn btn-lg btn-primary btn-block" type="submit">Encurtar URL</button>
</div>

</body>
</html>
